<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title">On en apprend tous les jours grâce à HippoQuiz !</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Clique sur le bouton juste ci-dessous pour voir la liste de tous les quiz !</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/quiz">
            Parcourir les quiz
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6">
        <img mat-card-image src="assets/HippoQuiz.png" alt="Logo" />
    </div>
  </div>
</div>
