<nav>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="assets/HippoQuiz.png" routerLink="">
      <a mat-list-item routerLink="/quiz" routerLinkActive="active" class="ml-3">
        QUIZ
      </a>
    </div>
    <div class="marquee">
      <span>On en apprend tous les jours grâce à HippoQuiz !</span>
    </div>
    <a mat-list-item routerLink="/admin" routerLinkActive="active" class="mr-3">
      ADMIN
    </a>
  </div>
</nav>
