<ng-container *ngIf="quiz$ | async; let quiz">
  <h1>Quiz details</h1>
  <form *ngIf="quizQuestions$ | async; let quizQuestions" (ngSubmit)="save(quiz,quizQuestions)" #quizUpdateForm="ngForm">
    <div class="form-group">
      <label for="title">Quiz title</label>
      <input type="text" class="form-control" id="title"
             required
             [(ngModel)]="quiz.title" name="title"
             #title="ngModel">
      <div [hidden]="title.valid || title.pristine"
           class="alert alert-danger">
        Quiz title is required
      </div>
    </div>

    <div class="form-group">
      <label for="description">Quiz description</label>
      <input type="text" class="form-control" id="description"
             required
             [(ngModel)]="quiz.description" name="description"
             #description="ngModel">
      <div [hidden]="description.valid || description.pristine"
           class="alert alert-danger">
        Quiz description is required
      </div>
    </div>

    <div *ngFor="let index of range(10); let j = index">
      <div class="form-group">
        <label for="questionText">Text of the Question {{j+1}}</label>
        <input type="text" class="form-control" id="questionText{{j}}"
                required
                [(ngModel)]="quizQuestions[j].questionText" name="questionText{{j}}"
                #description="ngModel">
      </div>
      
      <div class="form-group">
        <label for="questionAnswer">Answer of the Question {{j+1}}</label>
        <input type="text" class="form-control" id="questionAnswer{{j}}"
                required
                [(ngModel)]="quizQuestions[j].questionAnswer" name="questionAnswer{{j}}"
                #description="ngModel">
      </div>
    </div>
    
    <button type="submit" mat-raised-button color="primary" [disabled]="!quizUpdateForm.form.valid">Save</button>
  </form>

</ng-container>


