<h1>Partie Administration</h1>

<div class="row">
  <div class="col-md-4">
    <mat-card class="mb-4" [routerLink]="['/users']">
      <mat-card-header>
        <mat-card-title>Utilisateurs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestion des utilisateurs du site</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="mb-4" [routerLink]="['/questions']">
      <mat-card-header>
        <mat-card-title>Questions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestion des questions des quiz</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="mb-4" [routerLink]="['/results']">
      <mat-card-header>
        <mat-card-title>Résultats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestion des résultats des quiz</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
